body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.text {
    color: orange;
}

.top-banner {
    display: flex;
    margin-bottom: 100px;
}

.heading {
    color: rgb(69, 47, 47);
    line-height: 70%;
    font-weight: bold;
    font-size: 50px;

}

.paragraph {
    text-align: left;
    margin-bottom: 30px;
}

.link {
    padding: 10px 30px;
    background-image: linear-gradient(90deg, red, yellow);
    text-decoration: none;
    border-radius: 15px;
    color: white;

}

.half-top1 {
    margin-left: 50px;
    width: 50%;
    padding: 20px;
    margin-top: 150px;

}

.half-top2 {
    width: 50%;

}

.half-top2 img {
    width: 100%;
}

.middle-banner {
    margin-top: 150px;
    display: flex;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    margin: 0;
}

.half-middle1 {
    width: 100%;
    margin-left: 200px;
}

.half-middle1 img {
    width: 50%;
    max-height: 75%;
    padding-top: 80px;
    margin-left: 20px;

}

.half-middle2 {
    width: 50%;
    margin-top: 150px;
    margin-left: 0;
    padding-top: 50px;
}

h1 {
    color: rgb(69, 47, 47);
    margin-left: 0;
}

p {
    text-align: left;
    margin-bottom: 30px;
}

.recipe-banner {
    display: flex;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-right: 100px;

}

.recipe-para {
    text-align: center;
}

.recipe-part1 img {
    width: 100%;
    border-radius: 10px;
}

.recipe-part1 {
    width: 40%;
    border: 11px solid #ffffff;
    margin-left: 120px;
    margin-right: 20px;
    box-shadow: 2px 2px 50px grey;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.recipe-part2 img {
    width: 100%;
    border-radius: 10px;

}

.recipe-part2 {
    width: 40%;
    border: 11px solid #ffffff;
    border-radius: 10px;
    box-shadow: 2px 2px 50px grey;
    text-align: center;
    padding: 20px;

}

/* 
.followers-part {
    width: 30%;
    display: flex;
    justify-content: space-between;
    

}

.part-four {
    margin-left: 220px;

    display: flex;
} */
.follower-part {
    width: 85%;
    margin: 0 auto;
    margin-left: 100px;
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    font-weight: bold;
    text-align: center;
    box-shadow: 10px 10px 20px gray;
    border-radius: 10px;


}

.part-four {
    font-size: 20px;

}

.footer {
    padding: 50px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    background-color: black;
    color: lightgrey;
    margin-top: 100px;


}

.footer>p {
    text-align: center;
}

.follower-part>h1 {
    font-weight: 900;
}

.color {
    color: tomato;
}